site_name: Zampy Documentation
repo_url: https://github.com/EcoExtreML/zampy
repo_name: zampy

nav:
  - Getting started: index.md
  - Configuration: configuration.md
  - Available datasets: available_datasets.md

theme:
  name: material
  highlightjs: true
  hljs_languages:
    - yaml
    - python
    - bash
  features:
  - navigation.instant
  - navigation.tabs
  - navigation.tabs.sticky
  - content.code.copy

  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: light green
      accent: green

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: blue grey
      accent: teal

plugins:
  - mkdocs-jupyter:
        include_source: True
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            docstring_options:
              ignore_init_summary: no
            merge_init_into_class: yes
            show_submodules: no

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

extra:
  generator: false
